/* body {
  background-color: black;
  height: 100vh;
} */

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .cool-button:hover {
    background-color: #0074b7;
  }
  