body {
  background: rgb(221, 238, 174);
  background: -moz-radial-gradient(
    circle,
    rgba(221, 238, 174, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(221, 238, 174, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(221, 238, 174, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddeeae",endColorstr="#94bbe9",GradientType=1);
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0074b7;
}
